h1{
    color: blue;
    cursor: pointer;
    transition: 0.2s; 
}

h1:hover{
    color: aqua;
    letter-spacing: 2px;
}

.main{
    width: 100%;
    background: url(sepatu.jpg);
    background-position: center;
    background-size: cover;
}